{% extends 'base.html' %}
{% load static %}

{% block welcome_class %} is-hidden-mobile{% endblock %}

{% block main %}
    <div class="section details-speaker section--bg-detail">
        <div class="section__content">
            <a class="details-speaker__close" href="/">
{#                &times;#}
                <img src="{% static "web/images/icons/baseline-close-24px.svg" %}" alt="close">
            </a>
            <div class="details-speaker__picture">
                {% block picture %}{% endblock %}
            </div>
            <div class="details-speaker__content">
                <h1 class="details-speaker__title">
                    {% block title %}{% endblock %}
                </h1>

                <h2 class="details-speaker__subtitle">
                    {% block subtitle %}{% endblock %}
                </h2>
                <p class="details-speaker__description">
                    {% block description %}{% endblock %}
                </p>
                <div class="details-speaker__social">
                    {% block social %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
