{% extends 'details/speakers/base.html' %}
{% load i18n static %}

{% block picture %}
    <img src="{% static 'web/images/speakers/lorena_big.png' %}" alt="Lorena Mesa">
{% endblock %}
{% block title %}
    Lorena<br>
    Mesa
{% endblock %}

{% block subtitle %}
    {% trans 'Political scientist turned coder' %}
{% endblock %}

{% block description %}
    {% blocktrans %}Lorena Mesa is a software engineer on Sprout Social’s data science team, Director on the Python Software Foundation, and PyLadies Chicago co-organizer. Lorena's time at Obama for America and her subsequent graduate research required her to learn how to transform messy, incomplete data into intelligible analysis on topics like predicting Latinx voter behavior. It's this unique background in research and applied mathematics that drove Lorena to pursue a career in engineering and data science. One part activist, one part Star Wars fanatic, and another part Trekkie, Lorena abides by the motto to "live long and prosper".{% endblocktrans %}
{% endblock %}

{% block social %}
    <a href="https://twitter.com/loooorenanicole">
        <img src="{% static "web/images/icons/Twitter_Logo_Blue.png" %}" alt="Twitter">
    </a>
    <a href="https://www.linkedin.com/in/lorenamesa">
        <img src="{% static "web/images/icons/In-2CRev-28px-R.png" %}" alt="LinkedIn">
    </a>
{% endblock %}