{% extends 'details/speakers/base.html' %}
{% load i18n static %}

{% block picture %}
    <img src="{% static 'web/jpg/speaker1-photo.jpg' %}" alt="Lorena Mesa">
{% endblock %}
{% block title %}
    Lorena<br>
    Mesa
{% endblock %}

{% block subtitle %}
    Python developer at Soundcloud
{% endblock %}

{% block description %}
    orem fistrum ese pedazo de qué dise usteer pecador diodenoo al ataquerl. A gramenawer va usté muy cargadoo diodeno ese hombree a gramenawer benemeritaar ese hombree. Tiene musho peligro te voy a borrar el cerito no te digo trigo por no llamarte Rodrigor caballo blanco caballo negroorl por la gloria de mi madre benemeritaar la caidita te voy a borrar el cerito apetecan a wan. Mamaar se calle ustée a gramenawer caballo blanco caballo negroorl me cago en tus muelas. A wan benemeritaar está la cosa muy malar mamaar. Diodeno de la pradera benemeritaar ese pedazo de diodenoo pecador.
{% endblock %}

{% block social %}

{% endblock %}