@import 'variables';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

textarea:focus, input:focus, button:focus {
    outline: none;
}

// Styling on warning for users on IE11 or below
.browse-happy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}

html {
  font-size: $baseFontSize;
}

body {
  color: $baseFontColor;
  font-size: 1rem;
  font-family: $baseFontFamily;
  font-weight: $baseFontWeight;
  line-height: $baseLineHeight;
}

a {
  color: $blue;
  font-family: $baseFontFamily;
  text-decoration: none;
  transition: $baseTransition;
  white-space: nowrap;

  &:hover {
    color: $yellow;
  }
}

strong {
  font-weight: 900;
}

input {
  font-family: $baseFontFamily;

  &::placeholder {
    font-family: $baseFontFamily;
  }
}

h1 {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 600;
  font-family: $altFontFamily;
  margin: 0 0 2rem 0;
}

h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 5px 0;
}

// Link styles

.link--stroke {
  width: 100%;
  max-width: 400px;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  background: transparent url(/static/web/svg/button-blue.svg) no-repeat center;
  background-size: contain;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
  transition: .2s;

  &:hover {
    color: white;
    background-image: url(/static/web/svg/button-yellow.svg);
  }
}

.link--mustache {
  &:before {
    content: "{{ ";
  }

  &:after {
    content: " }}";
  }
}

.link--button {
  display: block;
  width: 100%;
  max-width: 345px;
  color: white;
  background-color: $blue;
  padding: 1.5rem;
  margin: 0 auto;
  margin-bottom: 3.5rem;

  &:hover {
    color: white;
    background-color: $yellow;
  }
}

// Text styles

.text--console {
  font-family: $altFontFamily;
}

.text--black-console {
  color: white;
  background-color: black;
  font-family: $altFontFamily;
}

.text--section-title {
  font-size: 1.285rem;
  line-height: 1.714rem;
}

.text--block-title {
  font-size: 1.142rem;
  line-height: 1.571rem;
  display: block;
  margin: 2rem 0 1rem 0;
}

// Color util classes
// Backgrounds
@each $color, $value in $alt-colors {
  .bg-color-#{$color} {
    background-color: $value;
  }
}