@import 'variables';

// One column mode
@media (max-width: $breakpoint1-width) {
  .main {
    margin-left: 0;
    .section {
      height: inherit;
      width: 100%;
    }
    .details {
      padding: 2rem 1.5rem;
    }
  }

  .nav {
    position: relative;
    width: 100%;
  }

  .hide-on-bp1 {
    display: none;
  }
}

@media (max-width: $breakpoint2-width) {
  .main {
    .section {
      padding: 5rem 1.5rem;
    }
    .details-speaker, .details {
      padding: 2rem 1.5rem;
    }
  }

  .nav {
    padding: 2rem 1.5rem 8.5rem 1.5rem;
  }

  .nav__social {
    padding: 0 1.5rem;
  }

  .section--bg-speakers {
    background-image: none;
  }

  .section--bg-sponsors {
    background-image: none;
  }
}

@media (max-height: $breakpoint1-height) {
  .nav__menu {
    display: none;
    text-align: center;

    &.nav__menu--only-links {
      display: block;
    }
  }

  .nav__logo {
    margin-bottom: 2rem;
  }

  .tickets-button {
    margin-bottom: 2rem;
  }

  .nav__language {
    margin-top: 2rem;
  }

  .nav__tickets {
    margin-top: 2rem;
  }

  .section__icon {
    display: none;
  }

  .keynoter {
    margin-top: 2rem;
  }
}

@media (max-height: $breakpoint2-height) {
  .section--bg-sponsors {
    background-image: none;
  }
}