@import 'variables';

// One column mode
@media (max-width: $breakpoint1-width) {
  .main {
    margin-left: 0;

    .section {
      height: inherit;
      width: 100%;
    }
  }

  .nav {
    position: relative;
    width: 100%;
  }

  .hide-on-bp1 {
    display: none;
  }
}

@media (max-width: $breakpoint2-width) {
  .main {
    .section {
      padding: 2rem 1.5rem;
    }
  }

  .nav {
    padding: 2rem 1.5rem 8.5rem 1.5rem;
  }

  .nav__social {
    padding: 0 1.5rem;
  }

  .section--bg-speakers {
    background-image: none;
  }

  .section--bg-sponsors {
    background-image: none;
  }
}