@import 'variables';

.nav {
  position: fixed;
  background: white;
  min-height: 100vh;
  width: 33%;
  text-align: center;
  padding: 45px 60px 120px 60px;

  p {
    text-align: left;
  }
}

.nav__title {
  font-size: 1.85rem;
  margin: 0 0 1.15rem 0;
}

.nav__subtitle {
  font-size: 1.15rem;
}

.nav__event-date {
  display: inline-block;
  font-size: 1.15rem;
  margin: 0 0 1.15rem 0;
  padding: 2px 6px 2px 6px;
}

.nav__logo {
  margin-bottom: 55px;
  width: 200px;
}

.nav__tickets {
  margin-top: 60px;
}

.nav__tickets__title {
  margin: 0 0 1.15rem 0;
}

.nav__tickets__email {
  display: flex;
  width: 100%;
  padding: 0 45px;
  justify-content: center;

  &.success {
    .nav__tickets__email__input {
      border-color: $green;
    }

    .nav__tickets__email__button {
      button {
        background-color: $green;
      }
    }
  }

  &.error {
    .nav__tickets__email__input {
      border-color: $red;
    }

    .nav__tickets__email__button {
      button {
        background-color: $red;
      }
    }
  }
}

.nav__tickets__email__input {
  display: flex;
  width: 100%;
  max-width: 350px;
  height: 2.25rem;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: $blue;
  font-style: normal;
  font-size: 1rem;
  padding-left: 5px;
  transition: .5s;

  &::placeholder {
    font-size: .8rem;
    font-style: italic;
  }
}

.nav__tickets__email__button {
  display: flex;

  button {
    width: 45px;
    border: 0;
    border-radius: 0;
    background-color: $blue;
    padding: 3px 0 0 3px;
    cursor: pointer;
    transition: .5s;
  }
}

.nav__social {
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
}

.nav__social__icons {
  width: 100%;
  height: 40px;

  img {
    width: 40px;
  }
}