@import 'variables';

.nav {
  position: fixed;
  background: white;
  min-height: 100vh;
  width: 33%;
  text-align: center;
  padding: 3rem 4rem 8.5rem 4rem;
  @media (min-width: $breakpoint1-width) {
    padding-bottom: 4.5rem;
  }
}

.nav__title {
  font-size: 1.85rem;
  line-height: 2.142rem;
  margin: 0 0 1.15rem 0;
}

.nav__subtitle {
  font-size: 1.15rem;
}

.nav__event-date {
  display: inline-block;
  font-size: 1.15rem;
  margin: 0 0 1.15rem 0;
  padding: 2px 1.75rem 2px 1.75rem;
}

.nav__logo {
  margin-bottom: 4rem;
  width: 10rem;
}

.nav__menu {
  text-align: left;

  &.nav__menu--only-links {
    display: none;
  }
}

.nav__tickets {
  margin-top: 4rem;
}

.nav__tickets__title {
  margin: 0 0 1.15rem 0;
}

.nav__tickets__email {
  display: flex;
  width: 100%;
  justify-content: center;

  &.success {
    .nav__tickets__email__input {
      border-color: $green;
    }

    .nav__tickets__email__button {
      button {
        background-color: $green;
      }
    }
  }

  &.error {
    .nav__tickets__email__input {
      border-color: $red;
    }

    .nav__tickets__email__button {
      button {
        background-color: $red;
      }
    }
  }
}

.nav__tickets__email__input {
  display: flex;
  width: 100%;
  max-width: 300px;
  height: 2.25rem;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: $blue;
  font-style: normal;
  font-size: 1rem;
  padding-left: 5px;
  transition: .5s;

  &::placeholder {
    font-size: .8rem;
    font-style: italic;
  }
}

.nav__tickets__email__button {
  display: flex;

  button {
    width: 3.214rem;
    border: 0;
    border-radius: 0;
    background-color: $blue;
    padding: 3px 0 0 3px;
    cursor: pointer;
    transition: .5s;
  }
}

.nav__social {
  position: absolute;
  bottom: 1.75rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 4rem;

  img {
    vertical-align: middle;
    width: 3rem;
  }
}

.nav__social__icons {
  width: 100%;
  height: 3rem;
}

.nav__language {
  margin-top: 4rem;
}