@import 'variables';

.section--bg-schedule {
  background: $lightest-blue;
}

.schedule__day {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: $bold;
  font-family: $altFontFamily;
  text-transform: uppercase;
}

$schedule__time-padding-top: 1rem;
.schedule__time {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: $schedule__time-padding-top;
  .time {
    font-weight: $bold;
    white-space: nowrap;
    padding-right: 1rem;
  }
  .line {
    height: 1px;
    width: 100%;
    background: black;
  }
}

.schedule__row--break {
  margin-top: .5rem;
  margin-bottom: -.5rem;
  text-align: center;
  font-weight: $bold;
  a {
    white-space: normal;
  }
}

.schedule__plenary-talk {
  $plenary-talk-padding: 30px 25px;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  @media (min-width: $breakpoint1-width) {
    flex-direction: row;
  }

  &--title {
    font-weight: $bold;
    padding: $plenary-talk-padding;
    background: white;
  }

  &--speaker {
    padding: $plenary-talk-padding;
    background: $light-blue;
    width: 100%;
  }

  &--track {
    font-weight: $bold;
    padding: $plenary-talk-padding;
    position: absolute;
    right: 0;
  }

}

.schedule__row {
  display: block;
  @media (min-width: $breakpoint1-width) {
    display: flex;
    align-content: stretch;
    margin: 0 -5px;
  }
}

.schedule__extra-slot {
  .schedule__talk--description {
    justify-content: center;
    padding-bottom: 15px;
  }
}

.schedule__talk {
  $padding-top: 30px;
  $padding-side: 25px;
  margin-top: 1rem;
  display: block;
  position: relative;
  white-space: normal;
  color: black;

  @media (min-width: $breakpoint1-width) {
    width: calc(100% / 3);
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sponsored-background {
    background: $job-background;
  }

  &--description {
    background: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .sponsored {
      text-align: right;
      padding: 10px 10px 0 0;
      font-weight: $bold;
    }
  }
  &--title {
    padding: $padding-top $padding-side 15px;
  }
  &--attributes {
    padding: 15px $padding-side $padding-top;
    font-weight: $bold;
    display: flex;
    justify-content: space-between;
    @media (min-width: $breakpoint1-width) {
      flex-direction: column;
    }
  }
  &--speaker {
    padding: 0 $padding-side;
    background: $light-blue;
    //display: flex;
    //align-items: center;
    div {
      min-height: 5.5rem;
      padding: 10px 0;
      display: flex;
      align-items: center;
      > p {
        margin: 0;
      }
    }
  }
  > .schedule__talk__border {
    display: none;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    height: 100%;
    border-left: .5rem solid #14b8df;
  }
  &:hover {
    color: black;
    .schedule__talk__border {
      display: block;
    }
  }
}

.schedule__talk--sponsored {
  .schedule__talk--title {
    align-self: center;
    font-size: 1.2rem;
    font-weight: 400;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.schedule__day-break {
  margin-bottom: 8rem;
}