@import 'variables';

$keynoter-info-size: 12rem;

.main {
  position: relative;
  display: flex;
  margin-left: 33%;
  flex-flow: row wrap;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 50%;
  padding: 10rem 4rem;
}

.section__icon {
  display: block;
  margin-top: 80px;
  margin-bottom: 3rem;
}

.section__action {
  display: block;
}

.section__content {
  width: 100%;
}

.section__location-link {
  .section__location-link__icon {
    width: $baseLineHeight;
    height: $baseLineHeight;
    display: inline-block;
    vertical-align: middle;
    margin-right: .5rem;
    background-image: url(/static/web/svg/direction-arrow-blue.svg);
    background-size: contain;
    transition: $baseTransition;
  }

  &:hover {
    .section__location-link__icon {
      background-image: url(/static/web/svg/direction-arrow-yellow.svg);
    }
  }
}

.section--bg-venue {
  background-color: $lightest-yellow;
}

.section--bg-venue-image {
  background: $light-yellow url(/static/web/png/malaga-photo-qhd.png) no-repeat left top;
  background-size: auto 100%;
}

.section--bg-speakers {
  background: $lightest-blue;
}

.section--bg-sponsors {
  background: $light-blue url(/static/web/png/community-2.png) no-repeat left bottom;
}

.keynoter {
  position: relative;
  display: flex;
  width: calc(#{$keynoter-info-size} * 2);
  margin-top: 4rem;
  cursor: pointer;

  img {
    width: $keynoter-info-size;
    height: $keynoter-info-size;
  }
  &:hover {
    .keynoter__border {
      display: block;
    }
  }
}

.keynoter__info {
  width: $keynoter-info-size;
  height: $keynoter-info-size;
  padding: 1.5rem;
  background: white;
}

.keynoter__info__name {
  font-weight: 900;
  margin-bottom: 1rem;
}

.keynoter__border {
  display: none;
  position: absolute;
  left: 0;
  height: 100%;
  border-left: .5rem solid $blue;
}


