@import "variables";

.section--bg-talk-details {
  background: $lightest-blue;
}

.talk-details {
  display: flex;
  .section__content {
    max-width: 60rem;
  }
  &__title {
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: $bold;
    font-family: $altFontFamily;
    margin: 20px 45px 0;
  }
  &__back {
    color: $blue;
    display: flex;
    > svg {
      transition: $baseTransition;
      margin-right: 8px;
      fill: $blue;
    }
    &:hover {
      > svg {
        fill: $yellow;
      }
    }
  }
  &__content {
    margin: 32px 0;
    //padding: 32px 42px;
    background: white;
    display: flex;
    flex-direction: column;
  }
  &__row {
    display: flex;
    margin: 32px 0;
    > div {
      padding: 0 45px;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    p {
      margin: 0;
    }
  }
  &__speakers {
    padding-top: 18px;
    padding-bottom: 18px;
    background: #aae7f3;
  }
  &__attributes p {
    font-family: $altFontFamily;
    font-weight: $bold;
    font-size: 1.2rem;
    line-height: 2rem;
    //margin: 1rem 0;
  }
  &__description {
    padding: 32px 45px;
    h1, h2, h3, h4, h5, h6 {
      margin: 40px 0 20px;
      font-size: 1.2rem;
      font-weight: $bold;
      line-height: 1.4rem;
      font-family: $baseFontFamily;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
