@import 'variables';

.is-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.is-pulled-right {
  text-align: right;
}

.is-hidden-mobile {
  @media (max-width: $breakpoint1-width) {
    display: none;
  }
}

.is-half {
  width: 50%;
}

.is-paddingless {
  padding: 0 !important;
}

.is-top-paddingless {
  padding-top: 0 !important;
}

.is-bottom-paddingless {
  padding-bottom: 0 !important;
}

.is-marginless {
  margin: 0 !important;
}

.is-font-weight-normal {
  font-weight: normal;
}
