@import 'variables';

.is-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.is-hidden-mobile {
  @media (max-width: $breakpoint1-width) {
    display: none;
  }
}

.is-half {
  width: 50%;
}
