// Main color palette
$blue: #11B8DF;
$yellow: #DEBC3E;
$black: #191F20;

// Alt color palette
$light-blue: #9BE3F0;
$lightest-blue: #BFEDF5;
$light-yellow: #E1C864;
$lightest-yellow: #FDFBF4;

// Utils color palette
$red: #E03F3F;
$green: #13AA7D;

// Alt colors iterable
$alt-colors: ("lightest-blue": $lightest-blue, "light-blue": $light-blue);

// Main font set up
$baseFontSize: 14px;
$baseLineHeight: 1.571rem;
$baseFontWeight: 400;
$baseFontColor: $black;
$baseFontFamily: 'Montserrat', sans-serif;

// Alt font set up
$altFontFamily: 'Inconsolata', monospace;

// Effects
$baseTransition: .2s;

// Media queries breakpoints
$desktop: 1024px;
$widescreen: 1216px;
//$breakpoint1-width: 992px;
//$breakpoint2-width: 1200px;
$breakpoint1-width: $desktop;
$breakpoint2-width: $widescreen;
$breakpoint1-height: 900px;
$breakpoint2-height: 1000px;

// Section width:
$section-width: 25rem;
$section-desktop-width: 25rem;
