// Main color palette
$blue: #11B8DF;
$yellow: #DEBC3E;
$black: #191F20;

// Alt color palette
$lightest-blue: #BFEDF5;
$light-blue: #9BE3F0;
$light-yellow: #E1C864;

// Utils color palette
$red: #E03F3F;
$green: #13AA7D;


$alt-colors: ("lightest-blue": $lightest-blue, "light-blue": $light-blue);

// Main font set up
$baseFontSize: 14px;
$baseLineHeight: 22px;
$baseFontWeight: 400;
$baseFontColor: $black;
$baseFontFamily: 'Montserrat', sans-serif;

// Alt font set up
$altFontFamily: 'Inconsolata', monospace;

// Media queries breakpoints
$breakpoint1-width: 992px;
$breakpoint2-width: 1200px;
