{% load i18n static %}

{% get_current_language as LANGUAGE_CODE %}

<div id="jobs" class="section section--bg-jobs">
    <div class="section__content is-two-columns">
        <span class="text--section-title"><strong>#05</strong> {% trans 'Your future' %}</span>
        <h1>{% trans 'Jobs' %}</h1>
        <p class="job__subtitle">
            <span>{% trans 'Position' %}</span><span class="separator">/</span><span>{% trans 'Company' %}</span>
        </p>
        <a class="job" href="https://careers.ebury.com/open-positions/position/?id=20ca4958-3fbb-4113-bd39-af6969127660"
           target="_blank">
            <div class="job__border"></div>
            <div class="job__position">Senior Python Developer</div>
            <div class="job__company">Ebury</div>
        </a>
        <a class="job" href="https://careers.ebury.com/open-positions/position/?id=7bfbf325-12c9-4c8b-96a5-91104e5cf319"
           target="_blank">
            <div class="job__border"></div>
            <div class="job__position">Product Owner</div>
            <div class="job__company">Ebury</div>
        </a>
        <a class="job" href="https://careers.ebury.com/open-positions/position/?id=53d1623b-13cb-44a6-a53f-3c5652473a37"
           target="_blank">
            <div class="job__border"></div>
            <div class="job__position">PostgreSQL Database Administrator</div>
            <div class="job__company">Ebury</div>
        </a>
        <a class="job" href="https://careers.ebury.com/open-positions/position/?id=66a35450-9c52-416f-9703-b9e735992af8"
           target="_blank">
            <div class="job__border"></div>
            <div class="job__position">Front-end Developer</div>
            <div class="job__company">Ebury</div>
        </a>
        <a class="job"
           href="https://careers.bloomberg.com/job/detail/66242?qf=python&lc=London&sd=Software+Developer%2FEngineering"
           target="_blank">
            <div class="job__border"></div>
            <div class="job__position">Senior Software Infrastructure Engineer - Python</div>
            <div class="job__company">Bloomberg</div>
        </a>
        <a class="job"
           href="https://careers.bloomberg.com/job/detail/68364?qf=python+bnef&lc=London&sd=Software+Developer%2FEngineering"
           target="_blank">
            <div class="job__border"></div>
            <div class="job__position">Senior Software Engineer - Bloomberg New Energy Finance</div>
            <div class="job__company">Bloomberg</div>
        </a>
        <a class="job" href="{% url 'details' 'jobs/a3sec-full-stack' %}">
            <div class="job__border"></div>
            <div class="job__position">Full stack developer</div>
            <div class="job__company">a3sec</div>
        </a>
        <a class="job" href="{% url 'details' 'jobs/paradigma-django-developer' %}">
            <div class="job__border"></div>
            <div class="job__position">Python/Django Developer</div>
            <div class="job__company">Paradigma Digital</div>
        </a>
        <a class="job" href="{% url 'details' 'jobs/paradigma-big-data-developer' %}">
            <div class="job__border"></div>
            <div class="job__position">Python/Big Data Developer</div>
            <div class="job__company">Paradigma Digital</div>
        </a>
        <a class="job" href="https://www.opensistemas.com/careers/careers-graduate/data-scientis/"
           target="_blank">
            <div class="job__border"></div>
            <div class="job__position">Data Scientist</div>
            <div class="job__company">OpenSistemas</div>
        </a>
        <a class="job"
           href="https://www.opensistemas.com/careers/careers-experienced/big-data-cloud-solutions-architect/"
           target="_blank">
            <div class="job__border"></div>
            <div class="job__position">Big Data Engineer</div>
            <div class="job__company">OpenSistemas</div>
        </a>
        <a class="job" href="https://www.opensistemas.com/careers/careers-experienced/data-scientist-with-python/"
           target="_blank">
            <div class="job__border"></div>
            <div class="job__position">Data Scientist with Python</div>
            <div class="job__company">OpenSistemas</div>
        </a>
        <a class="job" href="https://www.opensistemas.com/careers/careers-experienced/machine-learning-developer/"
           target="_blank">
            <div class="job__border"></div>
            <div class="job__position">Machine Learning Developer</div>
            <div class="job__company">OpenSistemas</div>
        </a>
        <a class="job" href="https://fever.theresumator.com/apply/RaiSphKBPa/Senior-Backend-Developer"
           target="_blank">
            <div class="job__border"></div>
            <div class="job__position">Senior Backend Developer</div>
            <div class="job__company">Fever</div>
        </a>
        <a class="job" href="https://jobs.lever.co/trustyou/0edd1349-ba44-4cf1-8f16-411e45d193f0"
           target="_blank">
            <div class="job__border"></div>
            <div class="job__position">Full Stack Engineer (Python / React), based in Madrid, Spain</div>
            <div class="job__company">TrustYou</div>
        </a>
        <a class="job" href="https://jobs.lever.co/trustyou/35e459f9-c541-4abe-ac99-a33d1942f25f"
           target="_blank">
            <div class="job__border"></div>
            <div class="job__position">Full Stack Engineer (Python / React), based in Munich, Germany</div>
            <div class="job__company">TrustYou</div>
        </a>
        <a class="job" href="https://jobs.lever.co/trustyou/3849a42a-9a2b-4cbb-ae9c-cc5a9c2ebb4d"
           target="_blank">
            <div class="job__border"></div>
            <div class="job__position">Front-End web Developer, based in Munich, Germany</div>
            <div class="job__company">TrustYou</div>
        </a>
        <a class="job" href="{% url 'details' 'jobs/kernel-analytics-data-scientist' %}">
            <div class="job__border"></div>
            <div class="job__position">Data Scientist</div>
            <div class="job__company">Kernel Analytics</div>
        </a>
        <a class="job" href="{% url 'details' 'jobs/kernel-analytics-data-analyst' %}">
            <div class="job__border"></div>
            <div class="job__position">Data Analyst</div>
            <div class="job__company">Kernel Analytics</div>
        </a>
        <a class="job" href="{% url 'details' 'jobs/kernel-analytics-data-engineer' %}">
            <div class="job__border"></div>
            <div class="job__position">Data Engineer</div>
            <div class="job__company">Kernel Analytics</div>
        </a>
        <a class="job" href="{% url 'details' 'jobs/invisible-bits-front-end-developer' %}">
            <div class="job__border"></div>
            <div class="job__position">Front-end Developer</div>
            <div class="job__company">Invisible Bits</div>
        </a>
        <a class="job" href="{% url 'details' 'jobs/invisible-bits-back-end-developer' %}">
            <div class="job__border"></div>
            <div class="job__position">Back-end Developer</div>
            <div class="job__company">Invisible Bits</div>
        </a>
        <a class="job" href="https://www.ravenpack.com/careers/python-web-developer">
            <div class="job__border"></div>
            <div class="job__position">Python Web Developer</div>
            <div class="job__company">RavenPack</div>
        </a>
        <a class="job" href="https://www.ravenpack.com/careers/front-end-web-developer">
            <div class="job__border"></div>
            <div class="job__position">Front End Web Developer</div>
            <div class="job__company">RavenPack</div>
        </a>
    </div>
</div>
