{% load i18n %}

<div id="schedule" class="section section--bg-schedule">
    <div class="section__content is-two-columns">
        <span class="text--section-title"><strong>#04</strong> {% trans "Manage your time" %}</span>
        <h1>{% trans "Schedule" %}</h1>
        <h2 class="schedule__day">{% trans "5 October" %}</h2>
        {% include "sections/blocks/schedule-time.html" with time="15:00" %}
        <div class="schedule__row">
            {% include "sections/blocks/schedule-talk.html" with title="Introducción a Data Science en Python" track="AULA 1" type="workshop" lang="" speaker1="Antònia Tugores, Francisco Correoso, Guillem Duran, Juan Carlos González, Jordi Contestí" %}
            {% include "sections/blocks/schedule-talk.html" with title="TDD de cero a cien (o casi)" track="Track M2" type="workshop" lang="" speaker1="Raúl Villares" speaker2="Alberto de la Cruz" %}
            {% include "sections/blocks/schedule-talk.html" with title="Representación de datos geográficos" track="Track 3" type="workshop" lang="" speaker1="Sara Rodríguez López" %}
        </div>
        {% include "sections/blocks/schedule-time.html" with time="17:30" %}
        <p class="schedule__row--break">{% trans "Coffee" %}</p>
        {% include "sections/blocks/schedule-time.html" with time="18:00" %}
        <div class="schedule__row schedule__day-break">
            {% include "sections/blocks/schedule-talk.html" with title="¡Eureka! - Python y ciencia" track="AULA 1" type="workshop" lang="" speaker1="Miguel Sánchez de León Peque" %}
            {% include "sections/blocks/schedule-talk.html" with title="Las herramientas de un detective" track="Track 2" type="workshop" lang="" speaker1="Víctor Muñoz" %}
            {% include "sections/blocks/schedule-talk.html" with title="Pyomo – Optimización en Python" track="Track 3" type="workshop" lang="" speaker1="Alba Carrero, Juan Javaloyes, Daniel Vázquez " %}
        </div>

        <h2 class="schedule__day">{% trans "6 October" %}</h2>
        {% include "sections/blocks/schedule-time.html" with time="09:30" %}
        <div class="schedule__plenary-talk">
            <div class="schedule__plenary-talk--track">{% trans "Track 1" %}</div>
            <div class="schedule__plenary-talk--title">{% trans "Keynote" %}</div>
            <div class="schedule__plenary-talk--speaker">Héctor Socas-Navarro</div>
        </div>
        {% include "sections/blocks/schedule-time.html" with time="10:30" %}
        <div class="schedule__row">
            {% include "sections/blocks/schedule-talk.html" with title="Back to Basics: NLP" track="Track 1" type="ml" lang="ES" speaker1="Claudia Guirao Fernández" %}
            {% include "sections/blocks/schedule-talk.html" with title="¿Por qué y para qué usar Wagtail?" track="Track 2" type="web" lang="ES" speaker1="Federico Mon" %}
            {% include "sections/blocks/schedule-talk.html" with title="Ansible DIY" track="Track 3" type="dev" lang="ES" speaker1="Álvaro León Santiago" %}
        </div>
        {% include "sections/blocks/schedule-time.html" with time="11:00" %}
        <div class="schedule__row">
            {% include "sections/blocks/schedule-talk.html" with title="Y hoy...¿Qué vemos?. Analizando Reviews de Películas con Python" track="Track 1" type="ml" lang="ES" speaker1="Rafa Haro" %}
            {% include "sections/blocks/schedule-talk.html" with title="Build your static site with Python" track="Track 2" type="web" lang="EN" speaker1="Fernando Rabanal" %}
            {% include "sections/blocks/schedule-talk.html" with title="Instrumenta tu app con Prometheus" track="Track 3" type="dev" lang="ES" speaker1="Agustín Herranz Cecilia" %}
        </div>
        {% include "sections/blocks/schedule-time.html" with time="11:30" %}
        <p class="schedule__row--break">{% trans "Coffee" %}</p>
        {% include "sections/blocks/schedule-time.html" with time="12:00" %}
        <div class="schedule__row">
            {% include "sections/blocks/schedule-talk.html" with title="Desde imágenes RGB a mapas de profundidad pasando por redes convolucionales profundas" track="Track 1" type="ml" lang="ES" speaker1="Zuria Bauer" %}
            {% include "sections/blocks/schedule-talk.html" with title="Designing APIs in no time using Flask" track="Track 2" type="web" lang="EN" speaker1="Sara Iris García Avila" %}
            {% include "sections/blocks/schedule-talk.html" with title="Pipenv: nuevo sistema de gestión de dependencias de paquetes para Python." track="Track 3" type="dev" lang="ES" speaker1="Andreu Vallbona" %}
        </div>
        {% include "sections/blocks/schedule-time.html" with time="12:30" %}
        <div class="schedule__row">
            {% include "sections/blocks/schedule-sponsored-talk.html" with title="" track="Track 1" %}
            {% include "sections/blocks/schedule-sponsored-talk.html" with title="" track="Track 2" %}
            {% include "sections/blocks/schedule-sponsored-talk.html" with title="" track="Track 3" %}
        </div>
        {% include "sections/blocks/schedule-time.html" with time="13:00" %}
        <div class="schedule__row">
            {% include "sections/blocks/schedule-talk.html" with title="Hacking Reinforcement Learning" track="Track 1" type="ml" lang="EN" speaker1="Guillem Duran Ballester" %}
            {% include "sections/blocks/schedule-talk.html" with title="Flask, un pequeño gran héroe" track="Track 2" type="web" lang="ES" speaker1="Maribel Tirados Gómez" %}
            {% include "sections/blocks/schedule-talk.html" with title="FaaS with no strings attached" track="Track 3" type="dev" lang="ES" speaker1="Unai" %}
        </div>
        {% include "sections/blocks/schedule-time.html" with time="13:30" %}
        <p class="schedule__row--break">{% trans "Lunch" %}</p>
        {% include "sections/blocks/schedule-time.html" with time="15:00" %}
        <div class="schedule__row">
            {% include "sections/blocks/schedule-talk.html" with title="Khiva: Cómo Al Juarismi reventaba GPUs para analizar time-series" track="Track 1" type="ml" lang="ES" speaker1="Antonio Vilches" %}
            {% include "sections/blocks/schedule-talk.html" with title="Multitenant, el infierno de las migraciones" track="Track 2" type="web" lang="ES" speaker1="Xavier Gil Estarellas" %}
            {% include "sections/blocks/schedule-talk.html" with title="Project templates with Cookiecuter" track="Track 3" type="dev" lang="EN" speaker1="Héctor Canto" %}
        </div>
        {% include "sections/blocks/schedule-time.html" with time="15:30" %}
        <div class="schedule__row">
            {% include "sections/blocks/schedule-talk.html" with title="Evaluation of text analysis in social media: a linguistic approach" track="Track 1" type="ml" lang="EN" speaker1="Eulàlia Veny" %}
            {% include "sections/blocks/schedule-talk.html" with title="Nueva generación de APIs con API Star" track="Track 2" type="web" lang="ES" speaker1="José Antonio Perdiguero" %}
            {% include "sections/blocks/schedule-talk.html" with title="Sustituyendo Makefiles con Python y Luigi" track="Track 3" type="dev" lang="EN" speaker1="Javier Torres Niño" %}
        </div>
        {% include "sections/blocks/schedule-time.html" with time="16:00" %}
        <div class="schedule__row">
            {% include "sections/blocks/schedule-sponsored-talk.html" with title="" track="Track 1" %}
            {% include "sections/blocks/schedule-sponsored-talk.html" with title="" track="Track 2" %}
            {% include "sections/blocks/schedule-sponsored-talk.html" with title="" track="Track 3" %}
        </div>
        {% include "sections/blocks/schedule-time.html" with time="16:30" %}
        <p class="schedule__row--break">{% trans "Coffee" %}</p>
        {% include "sections/blocks/schedule-time.html" with time="17:00" %}
        <div class="schedule__row">
            {% include "sections/blocks/schedule-sponsored-talk.html" with title="" track="Track 1" %}
            {% include "sections/blocks/schedule-talk.html" with title="Taking Django Async" track="Track 2" type="web" lang="EN" speaker1="Andrew Godwin" %}
            {% include "sections/blocks/schedule-talk.html" with title="Python Heaps-ters" track="Track 3" type="core" lang="ES" speaker1="Víctor Terrón" %}
        </div>
        {% include "sections/blocks/schedule-time.html" with time="17:30" %}
        <div class="schedule__row">
            {% include "sections/blocks/schedule-talk.html" with title="Ojalá que lluevan series temporales" track="Track 1" type="ml" lang="EN" speaker1="Elena Abril Medina" %}
            {% include "sections/blocks/schedule-talk.html" with title="web scraping para principiantes" track="Track 2" type="web" lang="ES" speaker1="Sara Rodríguez López" %}
            {% include "sections/blocks/schedule-talk.html" with title="Gradual typing en Python" track="Track 3" type="core" lang="ES" speaker1="David Barragán Merino" %}
        </div>
        {% include "sections/blocks/schedule-time.html" with time="18:00" %}
        <div class="schedule__row">
            {% include "sections/blocks/schedule-talk.html" with title="Prediciendo la contaminación del aire en Madrid: el proceso" track="Track 1" type="ml" lang="ES" speaker1="María Medina" %}
            {% include "sections/blocks/schedule-talk.html" with title="Aprende a enseñar, enseñando aprenderás" track="Track 2" type="edu" lang="ES" speaker1="Irene Pérez Encinar" %}
            {% include "sections/blocks/schedule-talk.html" with title="¡Oh vosotros los que entráis, abandonad toda esperanza!" track="Track 3" type="core" lang="ES" speaker1="Pablo Galindo Salgado" %}
        </div>
        {% include "sections/blocks/schedule-time.html" with time="18:30" %}
        <p class="schedule__row--break">{% trans "Lightning Talks" %}</p>
        {% include "sections/blocks/schedule-time.html" with time="19:30" %}
        <p class="schedule__row--break schedule__day-break">{% trans "Asamblea Python España" %}</p>


        <h2 class="schedule__day">{% trans "7 October" %}</h2>
        {% include "sections/blocks/schedule-time.html" with time="09:30" %}
        <div class="schedule__row">
            {% include "sections/blocks/schedule-talk.html" with title="Recomendación de canciones usando Fourier, ¿mejor que Spotify?" track="Track 1" type="ml" lang="ES" speaker1="Carlos Perales" %}
            {% include "sections/blocks/schedule-talk.html" with title="Python & gRPC, el conquistador de microservicios" track="Track 2" type="mc" lang="ES" speaker1="Esteban Dorado Roldan" %}
            {% include "sections/blocks/schedule-talk.html" with title="Mocks, fakes, dummies, stubs and spies: Successfully isolating the snake" track="Track 3" type="test" lang="EN" speaker1="Mario Corchero" %}
        </div>
        {% include "sections/blocks/schedule-time.html" with time="10:00" %}
        <div class="schedule__row">
            {% include "sections/blocks/schedule-talk.html" with title="The bad guys in AI: atacando sistemas de machine learning" track="Track 1" type="ml" lang="ES" speaker1="Alicia Pérez & Javier Ordóñez" %}
            {% include "sections/blocks/schedule-talk.html" with title="Microservices: the small print" track="Track 2" type="mc" lang="EN" speaker1="Mar Bartolomé" %}
            {% include "sections/blocks/schedule-talk.html" with title="Testing python security" track="Track 3" type="test" lang="EN" speaker1="Jose Manuel Ortega" %}
        </div>
        {% include "sections/blocks/schedule-time.html" with time="10:30" %}
        <div class="schedule__row">
            {% include "sections/blocks/schedule-sponsored-talk.html" with title="" track="Track 1" %}
            {% include "sections/blocks/schedule-sponsored-talk.html" with title="" track="Track 2" %}
            {% include "sections/blocks/schedule-sponsored-talk.html" with title="" track="Track 3" %}
        </div>
        {% include "sections/blocks/schedule-time.html" with time="11:00" %}
        <p class="schedule__row--break">{% trans "Coffee" %}</p>
        {% include "sections/blocks/schedule-time.html" with time="11:30" %}
        <div class="schedule__row">
            {% include "sections/blocks/schedule-talk.html" with title="Deep Learning will Beat you in a Kung-Fu Battle" track="Track 1" type="ml" lang="EN" speaker1="Ale Solano" %}
            {% include "sections/blocks/schedule-talk.html" with title="GIL: Todo lo que siempre quisiste saber y nunca te atreviste a preguntar" track="Track 2" type="core" lang="ES" speaker1="Jesús Cea Avión" %}
            {% include "sections/blocks/schedule-talk.html" with title="A la caza de exoplanetas por imagen directa con Python - De la ciencia de datos, la exoplanetología y otros demonios" track="Track 3" type="science" lang="ES" speaker1="Carlos Alberto Gomez Gonzalez" %}
        </div>
        {% include "sections/blocks/schedule-time.html" with time="12:00" %}
        <div class="schedule__row">
            {% include "sections/blocks/schedule-talk.html" with title="Traducción de textos automatizada aplicando Deep Learning con Python y Keras" track="Track 1" type="ml" lang="ES" speaker1="Pablo Vargas Ibarra" %}
            {% include "sections/blocks/schedule-talk.html" with title="List me your virtues" track="Track 2" type="core" lang="EN" speaker1="Maite Giménez" %}
            {% include "sections/blocks/schedule-talk.html" with title="Descubriendo los misterios del universo con Python" track="Track 3" type="science" lang="ES" speaker1="Maria Camila Remolina-Gutiérrez" %}
        </div>
        {% include "sections/blocks/schedule-time.html" with time="12:30" %}
        <div class="schedule__row">
            {% include "sections/blocks/schedule-talk.html" with title="YADLRetina: Yet Another Deep Learning Retina" track="Track 1" type="ml" lang="ES" speaker1="Rubén Crespo Cano" %}
            {% include "sections/blocks/schedule-talk.html" with title="Everything is a (Python) module" track="Track 2" type="core" lang="EN" speaker1="Salvador de la Puente González" %}
            {% include "sections/blocks/schedule-talk.html" with title="Motor de optimización de rutas para el mundo real: Python y otras bestias" track="Track 3" type="science" lang="ES" speaker1="Josema Camacho, Alberto Asuero, Cayetano Benavent" %}
        </div>
        {% include "sections/blocks/schedule-time.html" with time="13:00" %}
        <p class="schedule__row--break">{% trans "Lunch" %}</p>
        {% include "sections/blocks/schedule-time.html" with time="14:30" %}
        <div class="schedule__row">
            {% include "sections/blocks/schedule-talk.html" with title="Python, Pandas and other animals to survive in the data jungle" track="Track 1" type="ml" lang="EN" speaker1="Marta Rivera Alba" %}
            {% include "sections/blocks/schedule-talk.html" with title="Hora de sacar la basura: garbage collector" track="Track 2" type="core" lang="ES" speaker1="Pablo Galindo" speaker2="Victor Terrón" %}
            {% include "sections/blocks/schedule-talk.html" with title="Python ayudando a salvar a las ballenas: cómo el lenguaje puede ser útil en el área del diseño de biopolímeros" track="Track 3" type="science" lang="ES" speaker1="Daniel Domene López" %}
        </div>
        {% include "sections/blocks/schedule-time.html" with time="15:00" %}
        <div class="schedule__row">
            {% include "sections/blocks/schedule-talk.html" with title="Estrategias de comprensión con y para Python" track="Track 1" type="edu" lang="ES" speaker1="Martina Kienberger" %}
            {% include "sections/blocks/schedule-talk.html" with title="Find Vulnerability on Your Python Code" track="Track 2" type="core" lang="EN" speaker1="Harley Davidson Karel" %}
            {% include "sections/blocks/schedule-talk.html" with title="The Python Space adventure" track="Track 3" type="science" lang="EN" speaker1="Gloria Passarello" %}
        </div>
        {% include "sections/blocks/schedule-time.html" with time="15:30" %}
        <div class="schedule__row">
            {% include "sections/blocks/schedule-talk.html" with title="Machine Learning en Cardiología" track="Track 1" type="ml" lang="ES" speaker1="Victor Vicente Palacios" %}
            {% include "sections/blocks/schedule-talk.html" with title="Using Python to build a data privacy layer for decentralized applications" track="Track 2" type="core" lang="EN" speaker1="David Núñez" %}
            {% include "sections/blocks/schedule-talk.html" with title="Python Espacial" track="Track 3" type="science" lang="ES" speaker1="Cristina Luna" %}
        </div>
        {% include "sections/blocks/schedule-time.html" with time="16:00" %}
        <p class="schedule__row--break">{% trans "Coffee" %}</p>
        {% include "sections/blocks/schedule-time.html" with time="16:30" %}
        <div class="schedule__plenary-talk">
            <div class="schedule__plenary-talk--track">{% trans "Track 1" %}</div>
            <div class="schedule__plenary-talk--title">{% trans "Keynote" %}</div>
            <div class="schedule__plenary-talk--speaker">Lorena Mesa</div>
        </div>
        {% include "sections/blocks/schedule-time.html" with time="17:30" %}
        <p class="schedule__row--break">{% trans "Closing" %}</p>
    </div>
</div>
