{% load i18n static %}

<div id="speakers" class="section section--bg-speakers">
  <div class="section__content">
    <span class="text--section-title"><strong>#01</strong> {% trans 'Become one of us' %}</span>
    <h1>{% trans 'Speakers' %}</h1>
    <p>
      {% blocktrans %}
      We want to promote diversity in the widest sense of the term, so don't be afraid to propose anything you think can make the audience learn, enjoy and give back.
      {% endblocktrans %}
    </p>
  </div>
  <img class="section__icon" src="{% static 'web/svg/speaker.svg' %}" alt="Speaker">
  <a class="section__action link--stroke" href="https://www.papercall.io/pycones2018">call for papers</a>
</div>