{% load i18n static %}

<div id="speakers" class="section section--bg-speakers is-half">
    <div class="section__content">
        <span class="text--section-title"><strong>#01</strong> {% trans 'Become one of us' %}</span>
        <h1>{% trans 'Speakers' %}</h1>
        <p class="text--description">
            {% blocktrans %}
                We want to promote diversity in the widest sense of the term, so don't be afraid to propose anything you
                think can make the audience learn, enjoy and give back.
            {% endblocktrans %}
        </p>
        <a class="section__action link--stroke is-center" href="https://www.papercall.io/pycones2018">call for papers</a>

        <a class="keynoter is-center" href="{% url "details" "speakers/hector-socas-navarro.html" %}">
            <div class="keynoter__border"></div>
            <div class="keynoter__picture">
                <img src="{% static 'web/jpg/speaker2-photo.jpg' %}" alt="Héctor Socas-Navarro">
            </div>
            <div class="keynoter__info">
                <div class="keynoter__info__name">Héctor<br>Socas-Navarro</div>
                <div class="keynoter__info__mini-bio">{% trans 'Physicist at the Institute of Astrophysics of Canarias (Spain)' %}</div>
            </div>
        </a>

        <a class="keynoter is-center" href="{% url "details" "speakers/lorena-mesa.html" %}">
            <div class="keynoter__border"></div>
            <div class="keynoter__picture">
                <img src="{% static 'web/jpg/speaker1-photo.jpg' %}" alt="Lorena Mesa">
            </div>
            <div class="keynoter__info">
                <div class="keynoter__info__name">Lorena<br>Mesa</div>
                <div class="keynoter__info__mini-bio">{% trans 'Political scientist turned coder' %}</div>
            </div>
        </a>
    </div>
</div>