{%  load static %}

<div class="section">
  <div class="section__content">
    <span class="text--section-title"><strong>#03</strong> The venue</span>
    <h1>Málaga</h1>
    <p>
      La PyConES 2018 se celebrará en la Universidad de Málaga (UMA), que actualmente ofrece a sus más de 30.000 estudiantes un total de 141 estudios oficiales.
    </p>
    <p>
      <span class="text--block-title"><strong>University of Málaga (UMA)</strong></span>
      Bulevar Louis Pasteur, 35<br>
      29071 Málaga<br>
    </p>

    <a href="https://www.uma.es/etsi-informatica/info/72598/localizacion/">See location</a>

    <p>
      El evento tendrá lugar en el Complejo Tecnológico Teatinos, donde se encuentra la Escuela Técnica Superior de Ingeniería Informática (ETSI) y la Escuela Técnica Superior de Ingeniería en Telecomunicaciones (ETSIT).
    </p>
  </div>
</div>