{% load i18n static %}

<div id="venue" class="section section--bg-venue is-half">
  <div class="section__content">
    <span class="text--section-title"><strong>#03</strong> {% trans 'The venue' %}</span>
    <h1>Málaga</h1>
    <p>
      {% blocktrans %}
        The PyConEs 2018 will be hosted by the university of Malaga (UMA), which actually offers to their 30.000
        students a total of 141 official studies
      {% endblocktrans %}
    </p>
    <p>
      <span class="text--block-title"><strong>{% trans 'University of Málaga (UMA)' %}</strong></span>
      Bulevar Louis Pasteur, 35<br>
      29071 Málaga<br>
    </p>

    <a class="section__location-link" href="https://www.uma.es/etsi-informatica/info/72598/localizacion/">
      <i class="section__location-link__icon"></i> {% trans 'See location' %}
    </a>

    <p>
      {% blocktrans %}
        The conference will take place at the “Teatinos Technology Complex of the University of Málaga” (School of
        Computer Engineering and the School of Telecommunications).
      {% endblocktrans %}
    </p>
  </div>
</div>