{% load i18n %}

<a class="schedule__talk" href="{% url 'talk_details' title|slugify %}">
    <div class="schedule__talk__border"></div>
    <div class="schedule__talk--description">
        <div class="schedule__talk--title">
            {{ title }}
        </div>
        <div class="schedule__talk--attributes">
            <div>{{ track }}</div>
            <div>
                {% if type == "ml" %}{% trans "Machine Learning" %}{% endif %}
                {% if type == "core" %}{% trans "Core" %}{% endif %}
                {% if type == "web" %}{% trans "Web" %}{% endif %}
                {% if type == "edu" %}{% trans "Education" %}{% endif %}
                {% if type == "science" %}{% trans "Science" %}{% endif %}
                {% if type == "dev" %}{% trans "DevOps & Tools" %}{% endif %}
                {% if type == "test" %}{% trans "Testing" %}{% endif %}
                {% if type == "sec" %}{% trans "Security" %}{% endif %}
                {% if type == "mc" %}{% trans "Microservices" %}{% endif %}
                {% if type == "workshop" %}{% trans "Workshop" %}{% endif %}
                {% if lang %}
                    / {{ lang }}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="schedule__talk--speaker {% if speaker1|length > 50 %}schedule__talk--extra-speakers{% endif %}">
        <div>
            {{ speaker1 }}
            {% if speaker2 %}
                <br> {{ speaker2 }}
            {% endif %}
        </div>
    </div>
</a>