{% extends 'base.html' %}
{% load static i18n markup_tags %}

{% block welcome_class %} is-hidden-mobile{% endblock %}

{% block main %}
    <div class="section details details-jobs section--bg-jobs">
        <div class="section__content">
            <a class="talk-details__back" href="/#jobs">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
                </svg>
                {% trans "Jobs" %}
            </a>
            <div class="details__content job__details">
                <div>
                    {% block logo %}{% endblock %}
                </div>
                <h1>{% block title %}{% endblock %}</h1>
                {% block description %}{% endblock %}

                {% block send_request %}
                    <a class="section__action link--stroke is-center sponsors__action"
                       href="{% block send_request_link %}{% endblock %}" target="_blank">
                        {% trans "Send Request" %}
                    </a>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
