{% extends 'details/jobs/base.html' %}
{% load static %}

{% block logo %}
    <img src="{% static "web/images/sponsors/invisible_bits.png" %}" alt="Invisible Bits">
{% endblock %}
{% block title %}Back-end Developer{% endblock %}
{% block description %}
    <p>
        Invisible Bits es una compañía especializada en el desarrollo de tecnologías de
        ciberseguridad orientadas a MSSPs y SOCs para su despliegue en Centros de Operaciones
        de Seguridad (SOC): detección de ataques infraestructuras IT, malware, filtraciones de
        información confidencial, threat intelligence, etc.
    </p>
    <p>
        Nos dedicamos a la creación de prototipos que después pasan a ser productos. Somos un
        equipo de entusiastas de la ciberseguridad y el desarrollo.
    </p>
    <p>
        Nuestras tecnologías están desplegadas en grandes clientes en Europa, África,
        Latinoamérica y Emiratos Árabes.
    </p>

    <p>
        <strong>Buscamos:</strong>
    </p>
    <p>
        Dos back-end developers con años de experiencia en las siguientes tecnologías:
    </p>
    <ul>
        <li>Excelente dominio de Python.</li>
        <li>Gran experiencia con Django.</li>
        <li>Conocimiento de gestión de colas, ej RabbitMQ o similar.</li>
        <li>Dominio en el diseño de bases de datos MySQL y NoSQL.</li>
        <li>Metodología TDD y e Integración Continua.</li>
    </ul>

    <p>
        Valoraremos positivamente que nos envíes enlaces a repositorios GitHub o porfolios donde
        podamos valorar tu background.
    </p>

    <p>
        <strong>Ofrecemos</strong>
    </p>
    <ul>
        <li>Puesto de trabajo estable y contrato laboral indefinido.</li>
        <li>
            Salario en línea con el sector acorde a tus skills. Aumentos año a año en base a rendimiento.
        </li>
        <li>
            Flexibilidad de horarios y posibilidad de trabajar desde casa un día a la semana.
        </li>
        <li>
            Buen ambiente de trabajo en oficinas frente al mar (World Trade Center Barcelona).
        </li>
        <li>
            Entrada en el sector de la ciberseguridad.
        </li>
    </ul>
    <p>
        <strong>Como trabajamos</strong>
    </p>
    <ul>
        <li>SCRUM</li>
        <li>Test Driven Development</li>
        <li>Equipamiento moderno con el sistema operativo que prefieras.</li>
        <li>1 o 2 monitores de 27” a tu elección.</li>
        <li>Buen café expresso y leche gratis en la oficina</li>
        <li>Zona office literalmente sobre el mar con excelentes vistas.</li>
        <li>Descuentos a servicios del World Trade Center como gimnasio y spa.</li>
        <li>Posibilidad de trabajar un día a la semana desde casa.</li>
    </ul>
    <p>
        Si crees que cumples con los requisitos de la posición y te interesa conocernos aplica a la
        oferta y te contactaremos.
    </p>
    <p>
        Rango salarial entre 27.000€ - 40.000€.
    </p>
{% endblock %}

{% block send_request_link %}mailto:beatriz.gomez@invisiblebits.com{% endblock %}
