{% extends 'details/jobs/base.html' %}
{% load static %}

{% block logo %}
    <img src="{% static "web/images/sponsors/invisible_bits.png" %}" alt="Invisible Bits">
{% endblock %}
{% block title %}Front-end Developer{% endblock %}
{% block description %}
    <p>
        Somos una empresa dedicada exclusivamente a software de ciberseguridad desde hace ya 4
        años. No somos los únicos, pero sí especialistas en lo que hacemos. Actualmente con
        presencia en 5 países y con un equipo de 10 personas que lo hacen posible.
        Somos una compañía formada por entusiastas de la tecnología, donde se valora la calidad
        del entorno de trabajo y creemos que pasarlo bien es necesario.
        La clave de nuestro éxito es apostar por la tecnología, por la innovación y por la mejora
        continua.
    </p>
    <p>
        Tenemos varias posiciones abiertas para front-end y back-end developers con experiencia.
        Full-stacks son bien recibidos siempre que sean especialistas en una de las dos opciones.
    </p>
    <p>
        <strong>Con lo que trabajamos día a día:</strong>
    </p>
    <ul>
        <li>JavaScript ES6</li>
        <li>d3.js</li>
        <li>CSS</li>
        <li>LESS</li>
        <li>Gulp</li>
        <li>Django como framework base.</li>
    </ul>
    <p>
        <strong>Buscamos:</strong>
    </p>
    <p>
        Dos front-end developers con experiencia con lo siguiente:
    </p>
    <ul>
        <li>Experto en CSS grid, flexbox y diseños responsive mobile-first.</li>
        <li>
            Experiencia con LESS y manejo de tareas como auto prefixing, compilación,
            minification con herramientas como grunt, gulp o webpack.
        </li>
        <li>Familiarizado con conceptos BEM, extra points si ya trabaja con él.</li>
        <li>Cuidadoso con la interfaz y experiencia de usuario.</li>
        <li>Que sepa cuando se deben utilizar clases CSS y cuando clases JavaScript.</li>
        <li>
            Sin miedo a utilizar features ES6 como arrow functions, destructuring, rest o spread parameters o clases.
        </li>
        <li>Experiencia con DJANGO.</li>
        <li>Experiencia con git.</li>
    </ul>
    <p>
        Valoraremos positivamente que nos envíes enlaces a repositorios GitHub o porfolios donde
        podamos valorar tu background.
    </p>
    <p>
        <strong>Ofrecemos:</strong>
    </p>
    <ul>
        <li>Puesto de trabajo estable y contrato laboral indefinido.</li>
        <li>Salario en línea con el sector acorde a tus skills. Aumentos año a año en base a
            rendimiento.
        </li>
        <li>Flexibilidad de horarios y posibilidad de trabajar desde casa un día a la semana.</li>
        <li>Buen ambiente de trabajo en oficinas frente al mar (World Trade Center Barcelona).</li>
        <li>Entrada en el sector de la ciberseguridad.</li>
    </ul>
    <p>
        <strong>Cómo trabajamos</strong>
    </p>
    <ul>
        <li>SCRUM.</li>
        <li>Equipamiento moderno con el sistema operativo que prefieras.</li>
        <li>1 o 2 monitores de 27” a tu elección.</li>
        <li>Buen café espresso y leche gratis en la oficina</li>
        <li>Zona office literalmente sobre el mar con excelentes vistas.</li>
        <li>Descuentos a servicios del World Trade Center como gimnasio y spá.</li>
        <li>Posibilidad de trabajar un día a la semana desde casa.</li>
    </ul>
    <p>
        Si crees que cumples con los requisitos de la posición y te interesa conocernos aplica a la oferta y te
        contactaremos.
    </p>
    <p>
        Rango salarial entre 27.000€ - 40.000€.
    </p>
{% endblock %}

{% block send_request_link %}mailto:beatriz.gomez@invisiblebits.com{% endblock %}
