{% extends 'details/jobs/base.html' %}
{% load static %}

{% block logo %}
    <img src="{% static "web/images/sponsors/kernel_analytics.png" %}" alt="Kernel Analytics">
{% endblock %}
{% block title %}DATA ANALYST{% endblock %}
{% block description %}
    <p>
        Would you like to work for one of the leading Consultancy Firms in Analytics & Data Science in Spain? Do
        you have a strong background in Statistical Modelling & Data Science programming? Do you enjoy
        helping customers to enhance their business by applying complex algorithms to large amounts of
        information? Are you business minded, pro-active, curious and independent? If so, we would really like
        to talk to you.
    </p>
    <p>
        In Kernel Analytics we are currently looking for Data Analysts to continue the growth of our Madrid and
        Barcelona offices, to leverage our product portfolio and to develop new data driven solutions to address
        new business challenges of our customers.
    </p>
    <p>
        Take a look at the success stories in our web to know more!
    </p>
    <p>
        REQUIRED SKILLS
    </p>
    <ul>
        <li>Degree in Statistics, Mathematics, Physics, Economics or Engineering</li>
        <li>Knowledge of data mining, statistics, machine learning techniques and/or econometrics</li>
        <li>Programming skills Python or/and R</li>
        <li>Familiarity with SQL</li>
        <li>Ability to think analytically, quantitatively and creatively</li>
        <li>A strong interest in finding practical solutions to complex business problems</li>
        <li>Advanced level of Spanish and English</li>
    </ul>
    <p>
        HIGHLY VALUED SKILLS / EXPERIENCE
    </p>
    <ul>
        <li>Masters Degree in Data Science, Econometrics, Quantitative Economics, AI, Modeling or similar</li>
        <li>Familiarity in specific SQL DB Systems such as MySQL, Oracle, SQL Server…</li>
        <li>Notions of NoSQL solutions (MongoDB, Cassandra, HBase)</li>
        <li>Familiarity with Big data technologies as Hadoop, MapReduce, Hive, Spark, Impala…</li>
        <li>Able to work in a fast-paced environment on multiple tasks and problems</li>
    </ul>
    <p>
        WHAT WE CAN OFFER
    </p>
    <ul>
        <li>Permanent contract</li>
        <li>Professional development</li>
        <li>Competitive salary</li>
        <li>Social benefits</li>
        <li>Career progression</li>
        <li>Training plan</li>
        <li>Fresh fruit and free coffee</li>
        <li>Extra free days in Christmas</li>
    </ul>
{% endblock %}

{% block send_request_link %}mailto:jobs@kernel-analytics.com{% endblock %}
