{% extends 'details/jobs/base.html' %}
{% load static i18n %}

{% block logo %}
    <img src="{% static "web/images/sponsors/orange.png" %}" alt="Paradigma">
{% endblock %}
{% block title %}PYTHON/DJANGO DEVELOPER{% endblock %}
{% block description %}
    <p>
        España es el segundo mercado del Grupo Orange, uno de los principales operadores de telecomunicaciones del
        mundo, con 256 millones de clientes.
    </p>

    <p>
        Con un proyecto de generación de valor basado en la convergencia, la innovación y la calidad de servicio,
        apostamos por la transformación digital y buscamos seguir creciendo en ámbitos relacionados.
    </p>
    <p>
        Para ello, en el área de Data hemos desarrollado un equipo de expertos en Datos, los Data Freaks. Somos
        apasionados de los datos, con mucha imaginación. Nos gusta desarrollar casos de uso reales, en equipo, con
        metodologías ágiles que nos permite ser más creativos. Trabajamos con volúmenes enormes de datos de todos los
        tipos y áreas de Orange. Todo ello disfrutando en un ambiente joven, con compañeros con los que compartimos las
        novedades tecnológicas.
    </p>
    <p>
        Nuestro lema es “ In Data We Trust”, porque pensamos que a partir de los datos se construye conocimiento para
        poder tomar decisiones de negocio más certeras, y nuestro espíritu de Data Freak nos lleva a querer aprender
        continuamente.
    </p>
    <p>
        ¿Te gustaría ser un Data Freak? Pues si eres una persona comprometida, valiente, capaz de asumir retos y un/una
        enamorado/a de las nuevas tecnologías puedes ser uno de nuestros Data Freaks!!!
    </p>
    <p>
        Participarás en proyectos innovadores, utilizando las últimas tecnologías y tendrás posibilidad de vivir en
        primera persona la transformación digital de una gran empresa!
    </p>
    <p>
        Si te interesa y quieres conocer más de nosotros, envíanos tu contacto a: <br>
        <a href="mailto:selección.es@orange.com">selección.es@orange.com</a>, e indica en el asunto del mail (Pycones 2018)
    </p>
{% endblock %}

{% block send_request_link %}mailto:selección.es@orange.com?subject=Pycones 2018{% endblock %}