{% extends 'details/jobs/base.html' %}
{% load static %}

{% block logo %}
    <img src="{% static "web/images/sponsors/paradigma.png" %}" alt="Paradigma">
{% endblock %}
{% block title %}PYTHON/BIG DATA DEVELOPER{% endblock %}
{% block description %}
    <p>
        En Paradigma Digital buscamos Desarrolladores con experiencia en PYTHON y BIG DATA para unirse a nuestros
        proyectos ubicados en las oficinas de Paradigma.
    </p>

    <p>
        Tendrás la oportunidad de trabajar en una empresa pionera en TRANSFORMACIÓN DIGITAL y acostumbrada a trabajar
        dando un servicio más ágil para nuestros clientes. Trabajarás con la tecnología más puntera , en un equipo
        multidisciplinar y dentro de proyectos interesantes.
    </p>

    <p>
        <strong>¿Qué ofrecemos?</strong>
    </p>

    <p>
        Somos una empresa muy distinta. Estamos plagados de personas creativas y apasionadas por la tecnología, llenos
        de
        potencial para cambiar las cosas e innovar. Gente que viste como quiere y que tiene algo que decir. ¡Y una
        dirección
        que lo aprecia!
    </p>

    <p>
        Si encajaras con nosotros, te ofreceríamos un buen salario, flexibilidad horaria, la mejor formación y un
        ambiente
        de trabajo difícilmente superable que, mejor que contártelo, te enseñaremos si vienes por aquí
    </p>

    <p>
        Si te interesa y quieres unirte a nuestro equipo, mándanos tu CV a <a href="mailto:people@paradigmadigital.com">people@paradigmadigital.com</a>
    </p>
{% endblock %}

{% block send_request_link %}mailto:people@paradigmadigital.com{% endblock %}
