{% load i18n schedule %}

<a class="schedule__talk" href="{% url 'talk_details' title|slugify %}">
    <div class="schedule__talk__border"></div>
    <div class="schedule__talk--description {% if sponsored %} sponsored-background{% endif %}">
        {% if sponsored %}
            <div class="sponsored">{{ sponsored }}</div>
        {% endif %}
        <div class="schedule__talk--title">
            {% if title|wordcount < 15 %}
                {{ title }}
            {% else %}
                {{ title|truncatewords:10 }}
            {% endif %}

        </div>
        <div class="schedule__talk--attributes">
            <div>{{ track }}</div>
            <div>
                {% locale_category category %}
                {% if lang %}
                    / {{ lang|upper }}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="schedule__talk--speaker">
        <div>
            {{ speakers|linebreaks }}
        </div>
    </div>
</a>